<h1>Table of Contents<span class="tocSkip"></span></h1>

<span><a href="#(a)-Write-a-program-in-Python-or-Java-that-uses-the-OMDb-API-to-lookup/search-your-top-10-choices-of-movie-titles-and-extract-their-imdbIDs." data-toc-modified-id="(a)-Write-a-program-in-Python-or-Java-that-uses-the-OMDb-API-to-lookup/search-your-top-10-choices-of-movie-titles-and-extract-their-imdbIDs.-4.1">(a) Write a program in Python or Java that uses the OMDb API to lookup/search <em>your</em> top 10 choices of movie titles and extract their imdbIDs.</a></span></li><li><span><a href="#(b)-Augment-the-program-you-developed-in-(a)-to-look-up-the-movie-details-using-the-imdbIDs-you-found-(Use-only-the-IDs,-NOT-titles)-and-print-out-the-result-to-the-screen." data-toc-modified-id="(b)-Augment-the-program-you-developed-in-(a)-to-look-up-the-movie-details-using-the-imdbIDs-you-found-(Use-only-the-IDs,-NOT-titles)-and-print-out-the-result-to-the-screen.-4.2">(b) Augment the program you developed in (a) to look up the movie details using the imdbIDs you found (Use only the IDs, NOT titles) and print out the result to the screen.</a></span></li><li><span><a href="#(c)-&quot;Recycle&quot;-+-augment-your-code-from-(2.d)-to-insert-the-following-information-of-your-top-10-movie-titles-into-a-new-SQL-table-named-&quot;omdb&quot;:" data-toc-modified-id="(c)-&quot;Recycle&quot;-+-augment-your-code-from-(2.d)-to-insert-the-following-information-of-your-top-10-movie-titles-into-a-new-SQL-table-named-&quot;omdb&quot;:-4.3">(c) "Recycle" + augment your code from (2.d) to insert the following information of <em>your</em> top 10 movie titles into a new SQL table named "omdb":</a></span></li></ul></li></ul></div>

In [151]:
import pandas as pd
import requests, json, time, urllib
from IPython.display import HTML
import mysql.connector
from sqlalchemy import create_engine

## Go to http://www.omdbapi.com/ and make yourself familiar with the API and its use.
Request an API Key from the page. Specifically, read "Usage", "Parameters", and "Examples", and write down the URL string that would search for all the movies containing the word "blade". Include it as a comment in your code script.

<div class="bs-docs-section" id="parameters">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h2>Parameters</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-component">
                        <h4>By ID or Title</h4>
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Parameter</th>
                                    <th>Required</th>
                                    <th>Valid Options</th>
                                    <th>Default Value</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>i</td>
                                    <td><span class="label label-success">Optional*</span></td>
                                    <td></td>
                                    <td>&lt;empty&gt;</td>
                                    <td>A valid IMDb ID (e.g. tt1285016)</td>
                                </tr>
                                <tr>
                                    <td>t</td>
                                    <td><span class="label label-success">Optional*</span></td>
                                    <td></td>
                                    <td>&lt;empty&gt;</td>
                                    <td>Movie title to search for.</td>
                                </tr>
                                <tr>
                                    <td>type</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td>movie, series, episode</td>
                                    <td>&lt;empty&gt;</td>
                                    <td>Type of result to return.</td>
                                </tr>
                                <tr>
                                    <td>y</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td></td>
                                    <td>&lt;empty&gt;</td>
                                    <td>Year of release.</td>
                                </tr>
                                <tr>
                                    <td>plot</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td>short, full</td>
                                    <td>short</td>
                                    <td>Return short or full plot.</td>
                                </tr>
                                <tr>
                                    <td>r</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td>json, xml</td>
                                    <td>json</td>
                                    <td>The data type to return.</td>
                                </tr>
                                <tr>
                                    <td>callback</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td></td>
                                    <td>&lt;empty&gt;</td>
                                    <td>JSONP callback name.</td>
                                </tr>
                                <tr>
                                    <td>v</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td></td>
                                    <td>1</td>
                                    <td>API version (reserved for future use).</td>
                                </tr>
                            </tbody>
                        </table>
                        <small>*Please note while both "i" and "t" are optional at least one argument is required.</small>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-component">
                        <h4>By Search</h4>
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Parameter</th>
                                    <th>Required</th>
                                    <th>Valid options</th>
                                    <th>Default Value</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>s</td>
                                    <td><span class="label label-success">Yes</span></td>
                                    <td></td>
                                    <td>&lt;empty&gt;</td>
                                    <td>Movie title to search for.</td>
                                </tr>
                                <tr>
                                    <td>type</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td>movie, series, episode</td>
                                    <td>&lt;empty&gt;</td>
                                    <td>Type of result to return.</td>
                                </tr>
                                <tr>
                                    <td>y</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td></td>
                                    <td>&lt;empty&gt;</td>
                                    <td>Year of release.</td>
                                </tr>
                                <tr>
                                    <td>r</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td>json, xml</td>
                                    <td>json</td>
                                    <td>The data type to return.</td>
                                </tr>
                                <tr>
                                    <td>page <span class="label label-info">New!</span></td>
                                    <td><span class="label label-default">No</span></td>
                                    <td>1-100</td>
                                    <td>1</td>
                                    <td>Page number to return.</td>
                                </tr>
                                <tr>
                                    <td>callback</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td></td>
                                    <td>&lt;empty&gt;</td>
                                    <td>JSONP callback name.</td>
                                </tr>
                                <tr>
                                    <td>v</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td></td>
                                    <td>1</td>
                                    <td>API version (reserved for future use).</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

## (a) Write a program in Python or Java that uses the OMDb API to lookup/search _your_ top 10 choices of movie titles and extract their imdbIDs. 
Print the movie titles along with their imdbID to the screen. (E.g., search for "Dangal" or "Wolf Warrior 2" and record the imdbID that corresponds to the exact movie you have in mind).

In [76]:
TOP_10_Movies = ['The man from earth','Forrest Gump','Gravity','Shawshank Redemption', 'The A-team', 'Blue Streak', 'Indiana Jones and the Last Crusade', 'The Dark knight', 'The Green Mile', 'The Usual Suspects']

In [89]:
movie_details = []
for movie in TOP_10_Movies:
    
    # Search usng the movie titles
    params = {
        't':movie,
        'plot': 'short',
        'r':'json'
    }

    urlencoded_params = urllib.parse.urlencode(params)

    r = requests.get(API_endpoint+urlencoded_params)
    time.sleep(1)
    result = r.json()
    print(result['Title'], '\nIMDB ID:',result['imdbID'], '\nYear:',result['Year'], '\n')
    movie_details.append(result)

The Man from Earth
 IMDB ID: tt0756683
 Year: 2007

Forrest Gump
 IMDB ID: tt0109830
 Year: 1994

Gravity
 IMDB ID: tt1454468
 Year: 2013

The Shawshank Redemption
 IMDB ID: tt0111161
 Year: 1994

The A-Team
 IMDB ID: tt0429493
 Year: 2010

Blue Streak
 IMDB ID: tt0181316
 Year: 1999

Indiana Jones and the Last Crusade
 IMDB ID: tt0097576
 Year: 1989

The Dark Knight
 IMDB ID: tt0468569
 Year: 2008

The Green Mile
 IMDB ID: tt0120689
 Year: 1999

The Usual Suspects
 IMDB ID: tt0114814
 Year: 1995

## (b) Augment the program you developed in (a) to look up the movie details using the imdbIDs you found (Use only the IDs, NOT titles) and print out the result to the screen.

In [149]:
for item in movie_details:
    
    #Search using the IMDB Movie IDs
    params = {
        'i':item['imdbID']
    }

    urlencoded_params = urllib.parse.urlencode(params)

    r = requests.get(API_endpoint+urlencoded_params)
    time.sleep(0.5)
    result = r.json()
    
    display(HTML('<img src = {} width="150">'.format(item['Poster'])))
    print(result['Title'])
    print('IMDB ID:',result['imdbID'], '\nYear:',result['Year'], '\n')

The Man from Earth
IMDB ID: tt0756683
Year: 2007

Forrest Gump
IMDB ID: tt0109830
Year: 1994

Gravity
IMDB ID: tt1454468
Year: 2013

The Shawshank Redemption
IMDB ID: tt0111161
Year: 1994

The A-Team
IMDB ID: tt0429493
Year: 2010

Blue Streak
IMDB ID: tt0181316
Year: 1999

Indiana Jones and the Last Crusade
IMDB ID: tt0097576
Year: 1989

The Dark Knight
IMDB ID: tt0468569
Year: 2008

The Green Mile
IMDB ID: tt0120689
Year: 1999

The Usual Suspects
IMDB ID: tt0114814
Year: 1995

## (c) "Recycle" + augment your code from (2.d) to insert the following information of _your_ top 10 movie titles into a new SQL table named "omdb":

`title, year, genre, director, imdb_rating, rotten_tomatoes, metacritic, plot, box_office`

Please store all ratings (imdb_rating, rotten_tomatoes, metacritic) all as full integers representing percentages, i.e., 8.5/10 = 85, 80% = 80.

In [110]:
# Checking if ratings exist for the movie, else set it to null
def check_rating(ratings, source):
    if source in [a['Source'] for a in ratings]:
        return clean([a['Value'] for a in ratings if a['Source']==source][0])
    else:
        return None

# function to clean the rating values to a uniform format
def clean(val):
    if '%' in val:
        return int(val.replace('%',''))
    elif '/' not in val:
        return int(float(val)*10)
    else:
        return int(eval(val)*100)

In [111]:
details = []
for movie in movie_details:
    
    # Store required details in a dictionary
    details_cleaned = {}
    
    details_cleaned['title'] = movie['Title']
    details_cleaned['year'] = movie['Year']
    details_cleaned['genre'] = movie['Genre']
    details_cleaned['director'] = movie['Director']
    details_cleaned['imdb_rating'] = clean(movie['imdbRating'])
    details_cleaned['plot'] = movie['Plot']
    details_cleaned['box_office'] = movie['BoxOffice']
    
    details_cleaned['rotten_tomatoes'] = check_rating(movie['Ratings'], 'Rotten Tomatoes')
    details_cleaned['metacritic'] = check_rating(movie['Ratings'], 'Metacritic')
    
    details.append(details_cleaned)

In [119]:
# connect to the local SQL instance
conn = mysql.connector.connect(host='localhost',database='ucdavis',user='root',password='')
cursor = conn.cursor()

SQL_TABLE = 'omdb'

TABLE_DEF = '''(id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, title VARCHAR(100), year INT, genre VARCHAR(100), director VARCHAR(100), imdb_rating INT, rotten_tomatoes INT, metacritic INT, plot VARCHAR(1000), box_office VARCHAR(50))'''

# Create an empty table with the required schema
cursor.execute("CREATE TABLE IF NOT EXISTS " + SQL_DB + "." + SQL_TABLE + " " + TABLE_DEF + ";")

In [117]:
df = pd.DataFrame(details, columns = ['title', 'year', 'genre', 'director', 'imdb_rating', 'rotten_tomatoes', 'metacritic', 'plot', 'box_office'])

In [137]:
# install the driver (PyMySql) to connect with an ORM
engine = create_engine('mysql+pymysql://root@localhost:3306/ucdavis')
engine.connect()

In [138]:
# Insert the dataframe to SQL using the ORM based connection established earlier
df.to_sql('omdb',engine,if_exists = 'append',index = False)

In [160]:
# Verify data insert
pd.read_sql('select * from omdb',engine)

,id,title,year,genre,director,imdb_rating,rotten_tomatoes,metacritic,plot,box_office
0,1,The Man from Earth,2007,"Drama, Fantasy, Sci-Fi",Richard Schenkman,79,NaN,NaN,An impromptu goodbye party for Professor John ...,N/A
1,2,Forrest Gump,1994,"Drama, Romance",Robert Zemeckis,88,72.0,82.0,"The presidencies of Kennedy and Johnson, the e...","$330,000,000"
2,3,Gravity,2013,"Drama, Sci-Fi, Thriller",Alfonso Cuarón,77,96.0,96.0,Two astronauts work together to survive after ...,"$274,084,951"
3,4,The Shawshank Redemption,1994,Drama,Frank Darabont,93,90.0,80.0,Two imprisoned men bond over a number of years...,N/A
4,5,The A-Team,2010,"Action, Adventure, Thriller",Joe Carnahan,67,49.0,47.0,A group of Iraq War veterans look to clear the...,"$77,213,489"
5,6,Blue Streak,1999,"Action, Comedy, Crime, Thriller",Les Mayfield,63,36.0,46.0,A former convict poses as a cop to retrieve a ...,N/A
6,7,Indiana Jones and the Last Crusade,1989,"Action, Adventure",Steven Spielberg,82,88.0,65.0,"In 1938, after his father Professor Henry Jone...",N/A
7,8,The Dark Knight,2008,"Action, Crime, Drama, Thriller",Christopher Nolan,90,94.0,84.0,When the menace known as the Joker wreaks havo...,"$533,316,061"
8,9,The Green Mile,1999,"Crime, Drama, Fantasy, Mystery",Frank Darabont,86,78.0,61.0,The lives of guards on Death Row are affected ...,N/A
9,10,The Usual Suspects,1995,"Crime, Mystery, Thriller",Bryan Singer,85,89.0,77.0,A sole survivor tells of the twisty events lea...,N/A